@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
	font-family: Roboto, sans-serif;
}
* {
	padding: 0;
	margin: 0;
	boz-sizing: border-box;
	font-weight: normal;
}
.header {
	background-color: #8d8bfd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding: 10px 20px;
}
.logo,
.personal-info {
	display: flex;
	align-items: center;
}
.logo h4,
.personal-info h4 {
	margin: 0 5px;
}
a:link {
	color: #fff;
	text-decoration: none;
}
.logo-img {
	width: 30px;
	height: 30px;
}
.hero-container {
	text-align: center;
}
.hero {
	height: 50%;
	width: 80%;
}
.description h1,
.description p,
.description button {
	margin-top: 20px;
}
.description button {
	padding: 10px 15px;
	background-color: #8d8bfd;
	border: none;
	color: white;
	box-shadow: #8d8bfd 0px 2px 8px 0px;
	transition: all 0.5s;
}
.submit-button {
	padding: 10px 15px;
	background-color: #8d8bfd;
	border: none;
	color: white;
	box-shadow: #8d8bfd 0px 2px 8px 0px;
}
.submit-button:disabled {
	background-color: black;
	cursor: not-allowed;
	padding-top: 10px;
	box-shadow: #000 0px 2px 8px 0px;
}
.copy-btn {
	padding: 10px 15px;
	background-color: #8d8bfd;
	border: none;
	color: white;
}
.description button:hover {
	box-shadow: #8d8bfd 2px 4px 12px 0px;
	cursor: pointer;
}
.description h1 {
	font-size: 50px;
}
.description span {
	color: #8d8bfd;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 20px 40px;
	margin: 0 auto;
}
.form-container {
	padding: 20px 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.form-container p {
	margin-bottom: 10px;
}
.form input {
	flex: 3;
	margin: 5px 10px 0 0;
	padding: 0 10px;
}
.form-button {
	flex: 1;
}
.about {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px;
}
.about div {
	flex: 1;
	text-align: center;
	padding: 10px 70px;
}
.about p {
	margin-top: 10px;
}
.about-middle {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.previous-container {
	padding: 30px 20px;
	text-align: center;
}
.previous-container h1 {
	color: #8d8bfd;
}
.previous {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #dfdfdf;
	padding: 10px 20px;
	border-radius: 2px;
	margin-top: 20px;
}
.previous button {
	padding: 10px 15px;
	background-color: #8d8bfd;
	border: none;
	color: white;
}
.bigurl {
	text-align: left;
	width: 10%;
}
.shorturl {
	border: none;
	width: 30%;
	padding: 10px;
	overflow: ellipsis;
}
.shorturl:focus {
	outline: none;
}
